<a href="https://colab.research.google.com/github/erisson23/AIEQ/blob/main/Aula01_Prog001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Calculadora, print, bibliotecas, listas, loops, indexação, tipagem,condições, intervalo(range), break, loop (while)

In [ ]:
x=3
y=4
z = x + y
print(x,y,z)

3 4 7

In [ ]:

print (pow(3,2))

9

In [ ]:
from re import X
print(y%X)

4

In [ ]:
print(y % X)

4

In [ ]:
x = [2,3,4,5,6,7,8]
for xi in x:

IndentationError: ignored

In [ ]:
x = 13
y = 3
print(x % y)

1

In [ ]:
x = [2,3,4,5,6,7,8] #Lista
for xi in x: #Loop e sequência de comandos
  print(xi) #Prestar atenção na identação

2
3
4
5
6
7
8

In [ ]:
w = ['a',1,'b','c',1.3]
for wi in w:
    print(type(wi))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [ ]:
lista = [0,1,12,3,4,5,6,7,8]
for listai in lista:
    if listai % 2 == 0:
        print(listai,' é um nº par')
    else:
        print(listai,'é um nº ímpar')

0  é um nº par
1 é um nº ímpar
12  é um nº par
3 é um nº ímpar
4  é um nº par
5 é um nº ímpar
6  é um nº par
7 é um nº ímpar
8  é um nº par

In [13]:
import numpy as np

In [ ]:
z = np.array([1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0])

In [ ]:
print (z)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.]

In [ ]:
lista[2]

12

In [ ]:
x = [1,2,3,4]
for i in range(4):
    print(i,x[i])

0 1
1 2
2 16
3 8

In [ ]:
tamanho = len(x) #Se não souber tamnho da lista ou lista muito grande. len retorna tamanho da lista
for i in range(tamanho):
    print(i,x[i])
    print('------')

0 1
------
1 2
------
2 16
------
3 8
------

In [ ]:
#Objetivo é imprimir a seguinte informação x = 1,1,2,3,5,8...

In [ ]:
n=20
x=1
y=1
print(x)
print(y)
for i in range(n):
    aux = y
    y = x + y
    x = aux
    print(y)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

In [ ]:
n=20
x=1
y=1
print(x)
print(y)
for i in range(n):
    x,y = y, x+y
    print(y)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

In [ ]:
n=20
x=1
y=0
k=1
for i in range(n):
    x,y = y, x+y
    if y >100:
        print('Na posição',k,'está o número',y,'este elemento é maior do que 100')
    else:
         print('Na posição:',k,'está o número',y,'este elemento é menor do que 100')
    k = k +1

Na posição: 1 está o número 1 este elemento é menor do que 100
Na posição: 2 está o número 1 este elemento é menor do que 100
Na posição: 3 está o número 2 este elemento é menor do que 100
Na posição: 4 está o número 3 este elemento é menor do que 100
Na posição: 5 está o número 5 este elemento é menor do que 100
Na posição: 6 está o número 8 este elemento é menor do que 100
Na posição: 7 está o número 13 este elemento é menor do que 100
Na posição: 8 está o número 21 este elemento é menor do que 100
Na posição: 9 está o número 34 este elemento é menor do que 100
Na posição: 10 está o número 55 este elemento é menor do que 100
Na posição: 11 está o número 89 este elemento é menor do que 100
Na posição: 12 está o número 144 este elemento é maior do que 100
Na posição: 13 está o número 233 este elemento é maior do que 100
Na posição: 14 está o número 377 este elemento é maior do que 100
Na posição: 15 está o número 610 este elemento é maior do que 100
Na posição: 16 está o número 987 este elemento é maior do que 100
Na posição: 17 está o número 1597 este elemento é maior do que 100
Na posição: 18 está o número 2584 este elemento é maior do que 100
Na posição: 19 está o número 4181 este elemento é maior do que 100
Na posição: 20 está o número 6765 este elemento é maior do que 100

In [ ]:
n=20
x=1
y=0
k=1
for i in range(n):
    x,y = y, x+y
    if y >100:
        print('Na posição',k,'está o número',y,'este elemento é maior do que 100')
        break
    else:
         print('Na posição:',k,'está o número',y,'este elemento é menor do que 100')

    k = k +1

Na posição: 1 está o número 1 este elemento é menor do que 100
Na posição: 2 está o número 1 este elemento é menor do que 100
Na posição: 3 está o número 2 este elemento é menor do que 100
Na posição: 4 está o número 3 este elemento é menor do que 100
Na posição: 5 está o número 5 este elemento é menor do que 100
Na posição: 6 está o número 8 este elemento é menor do que 100
Na posição: 7 está o número 13 este elemento é menor do que 100
Na posição: 8 está o número 21 este elemento é menor do que 100
Na posição: 9 está o número 34 este elemento é menor do que 100
Na posição: 10 está o número 55 este elemento é menor do que 100
Na posição: 11 está o número 89 este elemento é menor do que 100
Na posição 12 está o número 144 este elemento é maior do que 100

In [ ]:
x=1
y=0
k=1
while y<100:
    x,y = y, x+y
    print('Na posição:',k,'está o número',y,'este elemento é menor do que 100')
    k = k +1

Na posição: 1 está o número 1 este elemento é menor do que 100
Na posição: 2 está o número 1 este elemento é menor do que 100
Na posição: 3 está o número 2 este elemento é menor do que 100
Na posição: 4 está o número 3 este elemento é menor do que 100
Na posição: 5 está o número 5 este elemento é menor do que 100
Na posição: 6 está o número 8 este elemento é menor do que 100
Na posição: 7 está o número 13 este elemento é menor do que 100
Na posição: 8 está o número 21 este elemento é menor do que 100
Na posição: 9 está o número 34 este elemento é menor do que 100
Na posição: 10 está o número 55 este elemento é menor do que 100
Na posição: 11 está o número 89 este elemento é menor do que 100
Na posição: 12 está o número 144 este elemento é menor do que 100

In [ ]:
x=1
y=0
k=1
while True:
    x,y = y, x+y
    if y >100:
        print('Na posição',k,'está o número',y,'este elemento é maior do que 100')
        break
    else:
         print('Na posição:',k,'está o número',y,'este elemento é menor do que 100')
    k = k +1

Na posição: 1 está o número 1 este elemento é menor do que 100
Na posição: 2 está o número 1 este elemento é menor do que 100
Na posição: 3 está o número 2 este elemento é menor do que 100
Na posição: 4 está o número 3 este elemento é menor do que 100
Na posição: 5 está o número 5 este elemento é menor do que 100
Na posição: 6 está o número 8 este elemento é menor do que 100
Na posição: 7 está o número 13 este elemento é menor do que 100
Na posição: 8 está o número 21 este elemento é menor do que 100
Na posição: 9 está o número 34 este elemento é menor do que 100
Na posição: 10 está o número 55 este elemento é menor do que 100
Na posição: 11 está o número 89 este elemento é menor do que 100
Na posição 12 está o número 144 este elemento é maior do que 100

In [ ]:
entrada = int(input('Entre com o máximo de posições desejadas:')) #Deve ser inteiro deviso o loop só é executado com entrada inteira, ver próximo comentário
x=1
y=0
k=1
for i in range(entrada):#Loope trabalha com números inteiros(Loop 1 depois loope 2... Isso pq ele percorre elementos de uma lista,que são inteiros)
    x,y = y, x+y
    if y >100:
        print('Na posição',k,'está o número',y,'este elemento é maior do que 100')
    else:
         print('Na posição:',k,'está o número',y,'este elemento é menor do que 100')
    k = k +1

Entre com o máximo de posições desejadas:10
Na posição: 1 está o número 1 este elemento é menor do que 100
Na posição: 2 está o número 1 este elemento é menor do que 100
Na posição: 3 está o número 2 este elemento é menor do que 100
Na posição: 4 está o número 3 este elemento é menor do que 100
Na posição: 5 está o número 5 este elemento é menor do que 100
Na posição: 6 está o número 8 este elemento é menor do que 100
Na posição: 7 está o número 13 este elemento é menor do que 100
Na posição: 8 está o número 21 este elemento é menor do que 100
Na posição: 9 está o número 34 este elemento é menor do que 100
Na posição: 10 está o número 55 este elemento é menor do que 100

In [ ]:
#Trabalhando com a biblioteca np

xx = 3.14159265
print(xx)
print(np.pi)

3.14159265
3.141592653589793

In [ ]:
#Construção de funções para chama-las em uma outra oportunidade com objetivo de minimizar o tamanho do código
#Exemplo definindo uma função que retorna se o número é par ou ímpar
def Testa(x):
    if x % 2 == 0:
        resp = 'par' #Ou return = 'par'
    else:
         resp = 'ímpar' #Ou return = 'ímpar'
    return resp #Eliminar essa linha caso usar return = 'par' e return = 'ímpar'

In [ ]:
lista = [1,2,3,4,5,6]
for xi in lista:
    print(xi,Testa(xi))

1 ímpar
2 par
3 ímpar
4 par
5 ímpar
6 par

In [ ]:
#Definição de um objeto - Class é um objeto (Dentro tem uma propriedades ou métodos)
class Student:
    def __init__(self):
        self.name = "John"
        self.grades = (90,90,93,78,90)

In [ ]:
person = Student()
print(person.name)
print(person.grades)
print(sum(person.grades)/len(person.grades))

John
(90, 90, 93, 78, 90)
88.2

In [ ]:
class Student_plus_method:
    def __init__(self): #Propriedade
        self.name = 'Erisson'
        self.grades = (90,90,93,78,90)

    def average(self): #Método
        return sum(self.grades)/len(self.grades)

student = Student_plus_method() #student é o objeto
print(student.average())

88.2

In [15]:
class Student_more_general:
    def __init__(self,name,grades): #Propriedade são definida geralmente com a palavra self
        self.name = name
        self.grades = grades

    def average(self): #Método
        return sum(self.grades)/len(self.grades)

student = Student_more_general('Erisson',(90,90,93,78,90)) #student é o objeto
print(student.average())

88.2

In [14]:
a = [1,2,3,4] #Lista
b = np.array([1,2,3,4]) #Otimizado para operações algébricas devido o suporte dado pela biblioteca
c = (1,2,3,4) #tuple (Uma vez defindo esse dado não é possível alterar os dados)
d = {1,2,3,4} #set (Conjunto)